.App {
  text-align: center;
}

form{
  display: inline-block;
  background-color: darkblue;
}

form div{
 margin: 20px;
}

form label{
  display: inline-block;
  width: 150px;
  color: white;
}

h2{
  background-color:red ;
  color: chartreuse;
  
}

.innerLabel{
  width: auto;
}